  <% include layout %>

    <h1> Add new User! </h1>

    <form action="/users" method="post">
      <label for="first-name"> First Name: </label>
      <input id="first-name" name="firstname" type="text"></input><br>
      <label for="last-name"> Last Name: </label>
      <input id="last-name" name="lastname" type="text"></input><br>
      <label for="emai"> E-mail: </label>
      <input id="email" name="email" type="email"></input><br>
      <label for="password"> Password: </label>
      <input id="password" name="password" type="text"></input><br>
      <label for="phone"> Phone: </label>
      <input id="phone" name="phone" type="text"></input><br>
      <label for="bio"> Bio: </label>
      <input id="bio" name="bio" type="text"></input><br>
      <label for="picture"> Picture: </label>
      <input id="picture" name="user[picture]" type="text"></input><br>
      <input type="submit" value="create" class="button">
    </form>
